/* Geral */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fdfdfd;
    color: rgb(58, 58, 58);
}


/* Logo */
.logo {
    width: 100px;
    height: 100px;
}

/* Navbar */
.custom-navbar {
    background-color: #f4f4f4 !important;
    border-bottom: 2px solid #e0e0e0;
}

.nav-link {
    color: rgb(58, 58, 58) !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #3a7c3a !important;
    text-decoration: underline;
}

/* Seção Sobre */
.sobre {
    background-color: #b9e6a1; /* verde pastel */
    padding: 40px 0;           /* só padding vertical */
}

.sobre .container {
    background: none;
    padding: 0 60px;           /* espaçamento interno lateral */
}

.sobre h2 {
    color: rgb(58, 58, 58);
    font-weight: 700;
    margin-bottom: 15px;
}

.sobre p {
    color: rgb(58, 58, 58);
    line-height: 1.6;
    text-align: justify;
}

.texto-sobre {
    color: rgb(58, 58, 58);
}

/* Footer */
.custom-footer {
    background-color: #f1f1f1;
    color: rgb(58, 58, 58);
    border-top: 2px solid #ccc;
}

.custom-footer p {
    margin: 3px 0;
    font-size: 14px;
}
