/* Geral */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fdfdfd;
    color: rgb(58, 58, 58);
}

 /* Tabela Glossário */
.table-geral {

    box-shadow: 0 0 10px rgba(215, 103, 232, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.table-geral th {
    background-color: #d4adee; /* verde */
}

.table-geral tbody tr:hover td{
    background-color: rgb(187, 180, 201);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transition: 0.3s;
}



/* Logo */
.logo {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}
.logo:hover {
    transform: scale(1.1); /* aumenta 10% */
}


/* Navbar */
.custom-navbar {
    background-color: #f4f4f4 !important;
    border-bottom: 2px solid #e0e0e0;
}

.nav-link {
    color: rgb(58, 58, 58) !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #3a7c3a !important;
    text-decoration: underline;
}

/* Seção Sobre */
.sobre-home {
    background-color: #caeab9; /* verde pastel */
    padding: 40px 0;          
}

.sobre-tipoflores {
    background-color: #e7d9f0; /* roxo pastel */
    padding: 40px 0;           
}

.sobre-arranjos{
    background-color: #fffbbe; /* amarelo pastel */
    padding: 40px 0;  
}

.sobre-cestas{
    background-color: #d9edf7; /* azul pastel */
    padding: 40px 0;  
}

.texto-sobre {
    color: rgb(58, 58, 58);
}

/* Footer */
.custom-footer {
    background-color: #f1f1f1;
    color: rgb(58, 58, 58);
    border-top: 2px solid #ccc;
}

.custom-footer p {
    margin: 3px 0;
    font-size: 14px;
}
